ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu {
    background: #ac0303;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    z-index: 1000;
}

.nav-list {
    display: flex;
    justify-content: center;
}

.nav-item {
    position: relative;
}

.nav-item a {
    display: flex;
    align-items: center;
    white-space: nowrap;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
}

.nav-item > a::after {
    content: "";
    display: inline-block;
    flex-shrink: 0;
    margin-left: 6px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid white;
}

.nav-item > a::after {
    content: "";
    display: inline-block;
    margin-left: 6px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid white;
}

.sub-nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    min-width: 150px;
}

.sub-nav li a:hover {
    background: #aa0202;
    color: white;
}

.sub-nav li a {
    padding: 10px;
    color: #6d5f5f;
}

.nav-item:hover .sub-nav {
    display: block;
}

.nav-item a:hover {
    background: #aa0202;
}